#tit1 {color: darkred; font-weight: bold; text-shadow: 3px 2px green; font-size: 90px;}


.t1 {text-indent: 5px; color: blue; text-decoration-line: underline; font-size: 50;}
.t2{text-align: center; letter-spacing: 2px;}
body {background-image:url(https://static1.conquistesuavida.com.br/ingredients/1/54/26/71/@/24717--ingredient_detail_ingredient-1.png) url(https://www.anilact.pt/media/k2/items/cache/99cab68bfe5d90795d3b37d36741c4d8_XL.jpg }
